body{
    width: 100%;
}

.editInfoCv{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-left: 4vh;
    width: 40vw;
    
}

.containerAplicationCv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
}